html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

section {
  padding: 2rem 1rem;
}

a {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  display: inline-block;
  font-weight: 500;
  color: #646cff;
  background-color: #f9f9f9;
  text-decoration: inherit;
  border: solid 1px transparent;
  transition: border-color 0.25s;
}

a:hover {
  color: #535bf2;
  border: solid 1px #646cff;
}

a.active {
  background-color: #646cff;
  color: white;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  background-color: #f9f9f9;
  text-decoration: inherit;
  border: solid 1px transparent;
  transition: border-color 0.25s;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
